%h2= @recipe.title
%p= @recipe.description

%br/

= link_to 'Edit', edit_recipe_path(@recipe), class: 'btn btn-default'
= link_to 'Delete', @recipe, method: :delete, data: { confirm: "Are you sure to delete the record?" }, class: 'btn btn-danger'
= link_to 'Back', recipes_path, class: 'btn btn-default'